<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">SCP</span>
      <%= button_to 'Log Out', destroy_player_session_path, method: :delete,class:"btn btn-info"%>
  </div>
</nav>
